<!-- 头部 -->
<div class="detail_title">
<div class="width1200">
<h1><a href="{maccms:path}"></a></h1>
<div class="detail_submit">
<form action="{maccms:link_search_vod}" method="post">
<input type="text" placeholder="请输入搜索关键字" id="wd" name="wd" value=""/>
<input type="submit" value=""/>
</form>
</div>
<ul style="float:right;margin-left:30px;margin-top:5px;">
<!--<li><a href="http://www.520ziyuan.com/index.php?m=label-help.html" target="_blank"><img src="{maccms:path_tpl}images/xz.png"></a></li>-->
    <li><a href="{maccms:path}index.php?m=user-index.html">登录</a></li>
    <li><a href="{maccms:path}index.php?m=user-reg.html">注册</a></li>
</ul>
</div>
</div>
<!-- 头部 -->