<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>专辑列表_第{page:now}页_{maccms:name}</title>
<meta name="keywords" content="明星合集,视频专辑,精彩专题,电影全集" />
<meta name="description" content="{maccms:name}不定期为影迷们推出新的电影专题及视频专辑,来满足不同爱好的电影者们.这里介绍最经典的电影全集,希望大家喜欢！" />
{maccms:include}
</head>
<body>
{maccms:head}

{maccms:foot}
</body>
</html>