<link type="text/css" href="http://{maccms:url}{maccms:path_tpl}css/style.css" rel="stylesheet"/>
<script>var SitePath='{maccms:path}',SiteAid='{maccms:siteaid}',SiteTid='{maccms:sitetid}',SiteId='{maccms:siteid}';</script>
<script type="text/javascript" src="http://{maccms:url}{maccms:path_tpl}js/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="http://{maccms:url}{maccms:path_tpl}js/jquery.lazyload.js"></script>
<script type="text/javascript" src="http://{maccms:url}{maccms:path_tpl}js/home.js"></script>