<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no" />
<meta name="renderer" content="webkit">
<meta name="applicable-device" content="pc,mobile">
<title>最新{page:name}-经典{page:name}-{maccms:name}</title>
<meta name="keywords" content="{page:key}" />
<meta name="description" content="{page:des}" />
{maccms:include}
</head>
<body>
<header>
    <div id="navbar">
		<a href="#" class="menubtn"><span></span><span></span><span></span><span></span></a>
		<h2 class="sitetitle">{page:name}</h2>
		{maccms:head}
    </div>
    <div class="overlay"></div><div class="clear"></div>
</header>
<section class="selectList">
	<div class="first_list">
		<div class="wrap">
			<ul class="con">
				<li class="on"><a href="" >全部</a></li>{maccms:class type=auto}<li><a href="http://{maccms:url}[class:link]" >[class:name]</a></li>{/maccms:class}
			</ul>
		</div>
	</div>
	<div class="first_list">
		<div class="wrap">
			<ul class="con">
				<li class="on"><a href="{page:linkyear}">全部</a></li>{maccms:year type=auto start=2008 end=2017 order=desc}<li{if-A:"{page:year}"="[year:name]"} class="on" {endif-A} ><a href="http://{maccms:url}[year:link]">[year:name]</a></li>{/maccms:year}
			</ul>
		</div>
	</div>
	<div class="first_list">
		<div class="wrap">
			<ul class="con">
				<li class="on"><a href="{page:linkbytime}">时间</a></li><li{if-A:"{page:by}"="hits"} class="on" {endif-A}><a href="http://{maccms:url}{page:linkbyhits}">人气</a></li><li{if-A:"{page:by}"="score"} class="on" {endif-A}><a href="{page:linkbyscore}">评分</a></li>
			</ul>
		</div>
	</div>
</section>
<section class="main mtp110">
	<ul>{maccms:vod pagesize=18 order=desc by=time}
		<li>
			<a href="http://{maccms:url}[vod:link]">
				<div class="psize">
					<img class="lazy" data-original="[vod:pic]" src="{maccms:path_tpl}images/lazy.jpg" alt="[vod:name]">
					<label class="title">{if-A:not isN("[vod:remarks]")}[vod:remarks]{elseif-A:[vod:state]=0 and "[vod:remarks]"=""}高清{elseif-A:not isN("[vod:remarks]")and [vod:state]=0}[vod:remarks]{elseif-A:[vod:state]>0}更新至[vod:state]集{endif-A}&nbsp;</label>
				</div>
				<p class="pname">[vod:name]</p>
				<p class="pstarring">[vod:starring]</p>
			</a>
		</li>{/maccms:vod}
	</ul>
</section>
<section class="paginations"><div class="pag">{maccms:pages len=10}</div></section>
<div class="clear"></div>
{maccms:foot}
</body>
</html>