<link href="{maccms:path_tpl}css/bootstrap.min.css" rel="stylesheet">
    <link href="{maccms:path_tpl}css/font-awesome.min.css" rel="stylesheet">
    <link href="{maccms:path_tpl}css/style.css"  rel="stylesheet">
    <link href="{maccms:path_tpl}css/responsive.css"  rel="stylesheet">


<script>var SitePath='{maccms:path}',SiteAid='{maccms:siteaid}',SiteTid='{maccms:sitetid}',SiteId='{maccms:siteid}';</script>
<script src="{maccms:path}js/jquery.js"></script>
<script src="{maccms:path}js/jq/jquery.lazyload.js"></script>
<script src="{maccms:path}js/jq/jquery.autocomplete.js"></script>