<div class="video-more">
	<a href="javascript:void(0);" class="v-top"><img src="{maccms:path_tpl}img/top_03.png"/></a>
</div>
<div class="notice">
		<a href="#" class="icon-speaker"></a>
		<div class="notice-cont">
			<span class="speaker"></span>
			<div class="msg">
				<marquee direction="left">  
					<p style="color:red;font-weight:bolder;line-height:42px;">欢迎各位新老司机一起开车，秋名山上等你一起飙车，本站所有内容均免费在线播放，提供国产精品内容，百台高速服务器鼎力支持，稳定有效，更新及时！！！</p>
				</marquee>
			</div>
			<a href="javascript:void(0);" class="ntc-btn">收起公告</a>
		</div>
</div>
<div class="page-foot">
	<div class="foot-log"><img src="{maccms:path_tpl}img/logo.png"/></div>
	<div class="foot-body">
		<!--<div class="left-log"><img src="{maccms:path_tpl}img/qq-largeico.png"/></div>-->
		<div class="right-body">
			<p>爽歪歪娱乐致力于为老司机免费提供最新的国产自拍资源，获得了老司机的一致认可，尤其是那些关注我们，永远不会翻车，永远带你秋名山飙车。</p>
			<div class="business">
				<p>赞助商合作唯一联系方式邮箱 mitaosex@hotmail.com</p>
				<p>注意：邮件内容请备注上您的网站地址，不说明者将拒绝回复。</p>
			</div>
		</div>
	</div>
</div>
<!--<div class="foot-d"><a style="color:#f0ff00;" href="#" target="_blank">7X24小时点击咨询</a></div>-->